@inject BasketService _basket 


<div>
    <a href="/basket">
        <i class="fab fa-opencart"></i>
    </a>
</div>

@code {
    private void GoToBasket()
    { }

    protected override async Task OnInitializedAsync()
    {
        await _basket.CreateBasket();
    }
}
