@page "/fetchdata"
@inject HttpClient Http
@inject BasketService _basket

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Catalog</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id.ToString().Substring(0,8)</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td><button type="button" 
                                @onclick="@(() => AddToBasket(product.Id))" 
                                class="btn btn-primary">Add</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TFShop.Services.Product> products = new List<TFShop.Services.Product>();

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<List<TFShop.Services.Product>>("/api/GetProducts");
    }

    private async Task AddToBasket(Guid id)
    {
        await _basket.AddItemToBasket(id);
    }
}
