@page "/Product"
@inject HttpClient Http

<button @onclick="SeedData" type="button" class="btn btn-primary">Seed Data</button>


@code {
    private Catalog catalog = new Catalog();

    private async Task SeedData()
    {
        await Http.PostAsync("/api/seeddata", new StringContent(""));

    }
}
